<h2 class="grey-text text-lighten-2 pageTitle">{{storyName}}</h2>
<a href="/reveal/{{id}}" >View Summary</a>
{{#each cards}} {{#if this.text}}
<div class="row">
  <div class="col s12">
    <div class="card white-text">
      <div class="card-image">
        <img src={{this.image}}>
        <a class="btn-floating halfway-fab waves-effect waves-light red" onclick='responsiveVoice.speak("{{this.text}}", "UK English Male", {pitch: 1});'
          type='button' /><i class="material-icons">record_voice_over</i></a>
      </div>
      <div class="card-content">
        <p class="card-text">{{this.text}}</p>
      </div>
    </div>
  </div>
</div>
{{/if}} {{/each}}